---
- name: play to gather dynamic host list
  hosts: localhost
  gather_facts: true  
  tasks:
    - include: ip.yml

- hosts: docker
  become: yes
  become_method: sudo
  roles: 
    {%for i in roles -%}
    - {{ i }}
    {%endfor-%}