---

- name: generate dynamic host list
  hosts: localhost
  gather_facts: yes  
  tasks:
    - name: get ip host
      shell: echo "{{ hosts }}" | tr '[,]' '\n'
      register: dockerHost

    - set_fact: dockerHost="{{dockerHost}}"
      when: dockerHost.changed

    - debug: msg="{{ dockerHost.stdout }}"

    - name: create dynamic group host
      add_host:
        groups: docker
        hostname: "{{ item }}"
      with_items: "{{ dockerHost.stdout }}"


- hosts: docker
  become: yes
  become_method: sudo
  roles: 
    {%for i in something%}
      - {{i}}
    {%endfor%}